// general styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 200ms linear, color 200ms linear;

  &::selection {
    background-color: $pri_clr;
    color: $white;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: $pri_clr;
  line-height: 44px;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  color: $white;
  background: linear-gradient(to right, $bg_clr, $bg_clr),
    url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include responsive_small {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.noselect {
  user-select: none;
}
