:root {
  --main-clr: #219ebc;
  --light-clr: #8ecae6;
  --dark-clr: #023047;
  --bg-clr: #ffffffa6;
  --light: #fff;
  --dark: #000;
}

$pri_clr: var(--main-clr);
$pri_dark: var(--dark-clr);
$pri_light: var(--light-clr);

$white: var(--light);
$black: var(--dark);

$bg_clr: var(--bg-clr);
